/* Tiny clicker -- a clicker web application to support peer instruction
   Copyright (C) 2012 Marcel Kyas <marcel.kyas@fu-berlin.de>

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>. */

body {
  font-size: 12pt;
  font-family: sans-serif;
  width: 640px;
}

#footer {
  font-size: 8pt;
  display: block;
}

#git {
  text-align: left;
  display: inline;
}

#license {
  text-align: right;
  display: inline;
}

#count {
  font-size: 140%;
  text-align: center;
}

#graph {
    font-size: 100%;
    position:relative;
    width:320px;
    height:240px;
    margin:8px;
    padding:0;	
}

#graph ul {
    position:absolute;
    top:0;
    left:50px;
    width:340px;
    height:200px;
    border-left:1px solid black;
    border-bottom:1px solid black;	
}

#graph li {
   position:absolute;	
   list-style:none;
   background:lightblue;
   width:60px;
   text-align:center;
   border:1px solid black;
   visibility: hidden;
}
